



<div class="loginCardSpacing" [@fallIn]="state">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        
        <span class="error" *ngIf="message">{{message}}</span>
        
        <mat-form-field class="inputWidth">
            <input matInput placeholder="Email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="inputWidth">
            <input type="password" matInput placeholder="Password" [(ngModel)]="pass">
        </mat-form-field>
            
        <div>
            <button mat-raised-button color="primary" (click)="loginUser()">Login</button>
            <button mat-raised-button disabled color="primary" (click)="registerAccount()">Register</button>
        </div>
          
    </mat-card>
</div>