

.labelTextStyle {
    font-weight: bold;
    padding-top: 10px;
    margin-right: 10px;
}


.calnedarViewContainer {
    margin-bottom: 20px;
}

.flexContainer {
    display: flex;
    margin-bottom: 10px;
}