



.flexContainer {
    margin-top: 36px;
    display: flex;
}

.inputFieldsContainer {
    display: flex;
    flex-direction: column;
}

.tableWidth {
    width: 40%;
    margin-right: 40px;
}

.membersWidth {
    width: 60%;
}


.buttonBar {
    margin-top: 10px;
}